body{
  color:white;
}
.modalOverlayReview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 背景色，带透明度 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 确保模态框在顶部 */
  }

  .createReviewContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 80vh; /* 设置最大高度（80% 的视口高度），避免页面内容过多 */
    overflow-y: auto; /* 允许垂直方向滚动 */
  }

  .starContainer{
    display: flex;
    flex-direction: row;
  }
  #reviewInputContainer{
    width: 300px;
    height: 100px;
  }
  .CreateAReviewFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .createAreviewButton{
    width: 200px;
    height: 30px;
    border: none;
    background-color: darkcyan;
    border-radius: 10px;
    margin: 5px;
  }
  #closeCreateAReview{
   background-color: transparent;
   border: none;
  }
  .submitYourReviewButton{
    width: 200px;
    height: 30px;
    border: none;
    background-color: darkcyan;
    border-radius: 10px;
    margin: 5px;
    color:white;
}
.submitYourReviewButtondisable{
  width: 200px;
  height: 30px;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  margin: 5px;
  color:lightgray;
}