.updateNdelete{
    display: flex;
    flex-direction: row;
}
.singleReviewContainer{
    border-bottom: 0.5px dashed rgb(165, 178, 177);
    border-radius: 10px;
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
#singleReviewContainername{
    font-weight: bolder;
    font-size: 20px;
}
#singleReviewContainerdate{
    font-size: 12px;
}
#singleReviewContainerreview{
    color: rgb(99, 92, 92);
}