.SpotsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
}
.SingleSpotletout{
    width:280px;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid darkcyan;
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;
}
.SingleSpotletout img{
    margin-top: 25px;
    /* margin-left:30px; */
    width:100px;
    height: 50px;
    border-radius: 5px;
}
.SingleSpotletout p{
    margin:2px;
}
.SingleSpotletout:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.SpotInfomation{
    display: flex;
    flex-direction: row;
    /* justify-content:space-evenly; */
    gap:100px;
    list-style-type: none;
    margin:2px;
    padding:2px;
}

.tooltip-container {
    position: relative;
    /* display: inline-block;  */
}
.tooltip-container img {
    width: 80%; 
    height: auto; 
  }

.tooltiptext {
    visibility: hidden;  
    position: absolute;
    z-index: 1;
    top: 50%;  
    left: 50%; 
    opacity: 0;  
    transition: opacity 0.3s ease-in-out;  
    color:wheat;
    font-weight: bolder;
    text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.7),   
    -2px -2px 4px rgba(0, 0, 0, 0.7),  
    2px -2px 4px rgba(0, 0, 0, 0.7),  
    -2px 2px 4px rgba(0, 0, 0, 0.7);  
  }

  .tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;  
  }
  